.container h2 {
    color: #4993FA;
    margin-bottom: 5px;
}

.container p {
    font-weight: 400;
    color: rgb(126, 125, 125);
}

.support {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 35px auto;
}

.support div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    margin-top: 35px;
}

.support div p {
    font-size: 13px;
}

.field {
    margin: 0 auto 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.field div {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.field input {
    max-width: 300px;
    height: 45px;
    background-color: rgba(192, 190, 190, 0.412);
    outline: none;
    border: none;
    padding: 15px;
    font-size: 13px;
    transition: all 0.2s;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Vazir';
}

.emailValidate {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.emailValidate span {
    color: red;
    font-weight: 500;
    font-size: 12px;
    max-width: 200px;
    height: 20px;
}

.field input:hover {
    background-color: rgba(173, 172, 172, 0.558);
}

.field h4 {
    font-size: 18px;
    margin: 0 5px 9px auto;
}

.footerPower {
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: #c5ebf3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerPower h3 {
    font-size: 15px;
    color: rgb(119, 119, 120);
}

/* @media(max-width: 403px) {
    .field input {
        width: 200px;
    }
}

@media(max-width: 300px) {
    .field input {
        width: 150px;
    }
} */